<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="FlipkartTest">
		<classes>
			<class name="executeTests.FlipkartTest">
				<methods>
					<include name="searchProduct" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
